*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.heading-style{
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background: #fff;
  margin-bottom: 13px;
  font-size: 1.5rem;
  margin-left: 50%;
}
.cards{
  width: 100%;
  height: auto;
  margin-left: 101px;

  /* display: flex;
  justify-content: space-between;
  flex-direction: column; */
}
.card{
  margin: 6%;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #fff;
  width: 21.5%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
  letter-spacing: 1px;

}
.card::after{
  display: block;
  content: ' ';
}
.card-image{
width: 100%;
height: 235px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
}
.card:hover{
  box-shadow: 0px 30px 18px --8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05,1.05);
}
.card-content a button{
  cursor: pointer;
}
.btn{
  margin-left: 25px;
  height: 25px;
  cursor: pointer;
}
@media(max-width:768px){
  .card{
    float: none;
    margin: 5%;
    width: 90%;
  }
  .heading-style{

    margin-left: 110px;
    display: inline-block;

  }
  .btn{

    padding: 20px;
    text-align: center;
    height: 10vh;
    margin-left: 50px;
  }
}